.nav-item {
    padding-right: 9px;
}

.navbar-custom {
    display: flex;
    align-items: center;
    width: 1140px;
}

.navbar-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-icon {
    font-size:18px;
    color: #fff;
}
