.header-title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.table-custom {
    text-align: center;
}

th.table-edit {
    text-align: center;
    vertical-align: middle;
}

tbody {
    position: relative;
}

td.table-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-custom {
    margin-top: 10px;
}
