.header-title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.table-custom {
    text-align: center;
}

th.table-edit {
    text-align: center;
    vertical-align: middle;
}

tbody {
    position: relative;
}

td.Home_table-action__3qmvm {
    display: flex;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.btn-custom {
    margin-top: 10px;
}
