.wrapper {
    .btn.btn-success {
        width: 80px;
        height: 30px;
        outline: none;
        background-color: #28a745;
        border-radius: 4px;
        border: none;
        color: #fff;
        display: none;
    
        &:hover {
            opacity: 0.9;
        }
    }
    
    .input {
        padding-left: 10px;
        
    }

}


