@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 60%;
}

body {
    font-family: Arial, Tahoma;

    line-height: 1.5;
    font-size: 1.8rem;
    text-rendering: optimizeSpeed;
}

// ----------

.active {
    display: block !important;
}

.hide {
    display: none !important;
}

.visually-hidden {
    display: none;
}

.btn {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    // margin: 0 20px;
    width: 100%;
}

.App {
    height: 100vh;
}
